@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
background-color: rgb(41, 4, 121);
color:rgb(166, 216, 247);
text-align: center;
margin: 50px 0;
font-size: 20px;
font-family: "EB Garamond", serif;
}
main{
  max-width: 90%;
}
button{
background-color: rgb(30, 150, 225);
color:rgb(166, 216, 247);
padding: 10px;
}
.img01{
 width: 50%;
}
.passo{
display: none;
}
  .passo.ativo{
display: block;
  }
